@model IEnumerable<FirstApplication.Models.Employee>

@{
    ViewBag.Title = "EmployeeList";
}

<h2>Employee  List</h2>

<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
    </td>
</tr>
}

</table>
